mat-card-tile{
  font-size: large;
}

.background {
  width: 100%;
  height: 100%;
}

.secao-votar {
  margin-top: 150px;
}

.text-custom {
  font-family: "Cera Pro Regular",Verdana,sans-serif,"Helvetica Neue",sans-serif;
  color: #116399;
}



.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

